.background{
    /* 
        background-image: url(../../../assets/images/neoport-baby-cropped.png); */
        
        background-size: cover;
        background-repeat: no-repeat;
        
        position: fixed; 
        min-width: 100%;
        min-height: 100%; 
        
    }
.img{
        width:300px;
    }