.sticky-bg{
    background-color: #03a9f4;
    height:10px;
    padding:50px;
    padding-top:65px;
}

.sticky-bg1{
    background-color: #03a9f4;
    height:40px;
    
}

table {
    width: 100%;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }

  .mat-column-link{
    //  color:blue;
      cursor: pointer;
  }

  